/*

body {

  background-color: #E1E7E8;

}

.cls-1{
		fill:none;
		/*stroke: black;*/
		stroke:#F2E0DC;
		stroke-miterlimit:10;
		stroke-width:0.5px;
}


h1 {
font-family: "Montserrat script=all rev=1";
    text-align: center;
}

div { 
	width: 100%; 
	height: 200px;  
}

.crownpattern {
	width:100%; 
	height:1000px; 
	z-index:-100; 
	position:relative;"
}

.btn-default {
/* 	background-color: #77153c; */
		background-color: rgba(119, 21, 60, 0.25);
	
}

.btn-centered {
	text-align: center;
}

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: inherit;
}

.top-area {
  position: relative;
/*   left: 300px; */
/*   top: 20px; */
  width: 50%;
  height: auto;
   margin: 0 auto;
  background-color: none;
  z-index: 1;
}
.central-area {
  position: relative;
/*   left: 300px; */
/*   top: 10px; */
  width: 50%;
  height: auto;
  margin: 0 auto;
  background-color: none;
  z-index: 3;
}
.fixed {
  position: fixed;
  left: 5px;
  top: 50px;
  width: 100px;
  background-color: blue;
}
.relative {
  background-color: orange;
  position: relative;
  top: 100px;
  left: 100px;
  width: 50px;
  z-index: 2;
}

*/
